@model EditUserViewModel

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h2 class="m-b-0 text-themecolor">Edit User</h2>
                </div>
                <div class="card-body">
                    <form class="form-horizontal p-t-20 justify-content-center" asp-controller="UserManagement" asp-action="EditUserPostView" method="Post">
                        <div class="form-body">
                            <h3 class="box-title">User Details</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row align-items-center">
                                <div class="col-md-3">
                                    <input asp-for="Id" type="hidden" class="form-control" />
                                </div>
                            </div>
                            @if (Model.UserName.ToUpper() == "ADMIN")
                            {
                                <div class="form-group row align-items-center">
                                    <label class="col-sm-2 text-right control-label ">Username</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">

                                            </div>
                                            <p class="form-control-static">@Model.UserName</p>
                                            <input type="hidden" asp-for="UserName" class="form-control" id="username2" placeholder="Username" />
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row align-items-center">
                                    <label for="username2" class="col-sm-2 text-right control-label " asp-for="UserName"></label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="ti-user"></i>
                                                </span>
                                            </div>
                                            <input asp-for="UserName" class="form-control" id="username2" placeholder="Username" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                            <div class="form-group row align-items-center">
                                <label for="email" class="col-sm-2 text-right control-label " asp-for="Email"></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="ti-email"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Email" class="form-control" id="email" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 text-right control-label ">Is Locked</label>
                                <div class="col-sm-4">
                                    <div class="checkbox checkbox-info">
                                        <input id="locked" asp-for="IsLocked" type="checkbox" />
                                        <label for="locked"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span asp-validation-for="IsLocked" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 text-right control-label ">Is Disabled</label>
                                <div class="col-sm-4">
                                    <div class="checkbox checkbox-info">
                                        <input asp-for="IsDeleted" type="checkbox" id="deleted" />
                                        <label for="deleted"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <span asp-validation-for="IsDeleted" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <h3 class="box-title">Change Password</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row align-items-center">
                                <label class="col-sm-2 text-right control-label ">Change Password</label>
                                <div class="col-sm-4">
                                    <a asp-controller="UserManagement" asp-action="ChangePasswordUserView" asp-route-id="@Model.Id" class="btn btn-info waves-effect waves-light"><i class="fa fa-lock"></i> Change Password</a>
                                </div>
                            </div>
                            <br />
                            <h3 class="box-title">Assign Roles</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row align-items-center">
                                <div class="col-md-10 ml-md-auto">
                                    @foreach (var item in Model.RolesList)
                                    {
                                        <div class="checkbox checkbox-info">
                                            <input id="@item.Value" type="checkbox" name="rolesAdd" value="@item.Value" checked="@item.Selected">
                                            <label for="@item.Value">@item.Value</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <h3 class="box-title">Save edited user</h3>
                            <hr class="m-t-0 m-b-40">
                            <div class="form-group row">
                                <div class="col-md-10 ml-md-auto">
                                    <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-check"></i> Save</button>
                                    <a asp-controller="UserManagement" asp-action="ListActiveUsers" class="btn btn-info waves-effect waves-light">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}